.card{
    width: 18rem;
    border: transparent;
}
.img{
    border-radius: 1em;
}

.flex{
    flex: 1 1 auto;
}

.shadow{
    box-shadow: 2px 5px 5px #00000059;
    border-radius: 1em;
}

.btn{
    background-color: transparent;
    display: flex;
    align-content: center;
}
  
.btn:hover {
    color: var(--text-bg-hover);
}

h2:hover {
    color: var(--text-bg-hover);
    cursor: pointer;
}